.pie{
    color: aliceblue;
    background-color: black;
    text-align: center;
    
    
    
    font-size: 16px;
    padding: 2rem;
    background-image: linear-gradient( to left, black, grey);
    
    
    
    
   
   
}
