.header{
    color: aliceblue;
    background-color: brown;
    padding: 2rem;
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 50px;
    
    

    

   
    
   
    
}

.navegador{
    color: black;
    background-color: brown;
    font-style:initial;
    padding: 2rem;
    font-weight: 600;
    height: max-content;
    border-top: 16px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-right: 100%;
    
    

    
}